.about-wrapper {
    width: 80%;
    height: 550px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background: #651216;
}

.about-wrapper h1, h3 {
    margin: 20px;
    font-style: italic;
}

.philosophy-wrapper {
    display: flex;
    width: 100%;
}

.philosophy-wrapper img{
    height: 100%;
    margin: 20px;
}

.philosophy-wrapper .philosophy-text-wrapper {
    display: flex;
    flex-direction: column;
}

.philosophy-wrapper .philosophy {
    font-family: 'Raleway';
    font-size: 1.6em;
    line-height: 40px;
    text-align: left;
}