@media only screen and (min-width: 0px) {


    .navigation {
        width: 100%;
        background-color: #45527A;
        display: flex;
        justify-content: flex-end;
        font-size: 1.2em;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-toggler-icon {
        background-image:none !important;
        color: white;
        display: flex;
        align-items: center;
    }

    .nav-link {
        text-decoration: none;
        color: white !important;
        width: 100%;
        margin: 5px 20px;
    }
    .nav-link:hover {
        color: #A30604;
    }

    .secondary-navigation {
        background: #A30604;
        width: 100%;
        display:flex;
        align-items: center;

    }

    .secondary-navigation img {
        width: 20%;
        margin: -30px 45px 0px 45px;
        z-index: 2;

    }

    .secondary-navigation-ul {
        width: 50%;
        height: 275px;
        display:flex;
    }

    .secondary-nav-button{
        color: white;
        height: 50px;
        background-color: #A30604;
        border: none;
        font-size: 1.4em;
    }
    .secondary-navigation .secondary-nav-link .secondary-nav-link-a {
        margin: 20px;
        font-size: 1.4em;
        color: white;
    }
    .secondary-nav-search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .secondary-navigation .secondary-nav-search label{
        margin-right: 30px;
        font-size: 1.4em;
    }

    .secondary-navigation .secondary-nav-search input{
        width: 65%;
        height: 50px;
        padding-left: 5px;
    }
    .dropdown-menu-item h6 {
        width: 200px;
        margin: 20px;
    }
}
@media only screen and (min-width: 990px) and (max-width: 1525px) {
    .secondary-navigation .secondary-nav-link {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .secondary-navigation .secondary-nav-link .secondary-nav-link-a {
        margin: 10px;
        display: flex;
        align-items: flex-start;
        font-size: 1.4em;
    }

    .secondary-navigation .secondary-nav-search label{
        margin-right: 20px;
        font-size: 1.2em;
    }

    .secondary-navigation .secondary-nav-search input{
        width: 60%;
        height: 50px;
        padding-left: 5px;
    }

}

@media only screen and (max-width: 989px) {
    .navbar-brand {
        display: block;
        color: white !important;
        font-weight: bolder;
    }

    .secondary-navigation {
        display: none;
        font-size: 1.4em;
    }
}
